nav {
    display: flex;
    justify-content: stretch;
}
#navbar_list {
    display: flex;
    justify-content: stretch;
}

#navbar_list li{
    display: flex;
}

.right_nav {
    align-self: flex-end;
}

.left_nav {
    align-self: flex-start;
}

#footer_list {
    display: flex;
}

#footer_list li {
    display: flex;
}