nav {
    display: flex;
    width: fit-content;
    justify-content: stretch;
}
#navbar_list {
    display: flex;
    justify-content: stretch;
}

#navbar_list li{
    display: flex;
}

.right_nav {
    align-self: flex-end;
}

.left_nav {
    align-self: flex-start;
}

#logo {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 1em;
}

#search {
    justify-content: center;
    display: grid;
    grid-template-areas: 
        "header header"
        "search lucky";
    row-gap: 20px;
    column-gap: 15px;
}

#search_input {
    grid-area: header;
}

#footer_list {
    display: flex;
}

#footer_list li {
    display: flex;
}