*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color:#222;
}

nav ul {
    height: 4em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin-right: .75em;
}

.nav-left {
    margin-right: auto;
    padding-left: .75em;
}

#app-menu-icon {
    width: 1em;
}

#sign-in-btn {
    background-color: #1A73E8;
    color: white;
    border:none;
    border-radius: 0.25em;
    text-align: center;
    padding: 0.75em 2em;
}

#sign-in-btn:hover {
    background-color: #2B7DE9;
}

.main {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    display: flex;
    justify-content: center;
}

#search {
    justify-content: center;
    display: grid;
    grid-template-areas: 
        "header header"
        "search lucky";
    row-gap: 20px;
    column-gap: 15px;
}

#search-input {
    grid-area: header;
}

#search-btn {
    background-color: #F8F9FA;
    color: #3C4043;
    border: none;
    border-radius: .3em;
    padding: .75em 2em;
}

#search-btn:hover {
    box-shadow: 0px 0px 3px 0px #70757A;
}

#lucky-btn {
    background-color: #F8F9FA;
    color: #3C4043;
    border: none;
    border-radius: .3em;
    padding: .75em 2em;
}

#lucky-btn:hover {
    box-shadow: 0px 0px 3px 0px #70757A;
}

footer {
    position: absolute;
    bottom:0;
    width: 100%;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f2f2f2;
}

footer ul {
    height: 4em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin-right: 1em;
}

footer ul li a {
    text-decoration: none;
    color: #70757A;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-left {
    margin-right: auto;
    
}